/public/
/resources/_gen/
/assets/jsconfig.json
hugo_stats.json
/.hugo_build.lock
/.frontmatter/
/.vscode/
/_vendor/
/.claude/
/.vscode/
/data/
frontmatter.json
/.github/instructions/
/.github/pages-files/
.DS_Store
Thumbs.db
.obsidian/
.pdf
